*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
.Top{
    display: flex;
    flex-direction: row;
    font-weight: 900;
    justify-content: space-between;
    align-content: space-between;
    padding:20px;
}
.bar{
    margin-left:30px;
}
.start{
    background-image: url('https://github.com/Kalvium-Program/kidz-world-html-boilerplate/blob/main/assets/kw-background.png?raw=true');
    background-size: cover;
    font-size: 70px;
    font-weight: 700;
    color:white;
    text-align: justify;
}
.books{
    display: flex;
    margin-left: 10px;
    padding-bottom: 50px;
    padding-left:100px;
    padding-right: 100px;
    justify-content: space-evenly;
    align-content: center;
}
.Games{
    display: flex;
    gap: 100px;
    margin-left: 50px;
    padding-bottom: 50px;
    padding-left:100px;
    padding-right: 100px;
    justify-content: space-evenly;
    align-content: center;
}
.Made{
    display: flex;
    gap: 10px;
    margin-left: 50px;
    padding-bottom: 70px;
    padding-left:100px;
    padding-right: 100px;
    justify-content: space-evenly;
    align-content: center;
}
.button{
    background-color: rgb(12, 78, 246);
    color:white;
    font-weight: 900;
    height:fit-content;
    padding:5px;
    border-radius: 5px;
    border: none;
    justify-content:flex-end;
    align-items: flex-end;
}
/* button:hover{
    background-color: rgb(110, 110, 237);
} */
.text{
    padding-left:90px;
    margin-left:70px;
    font-weight: 900;
}
.end{
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.end img{
    height: 180px;
    width:180px;
    border-radius: 50%;
}

@media screen and (max-width:600px){
    *{
        padding: 0;
    }
    .text{
        align-items: center;
        justify-content: center;
    }
    .start{
        font-size:20px;
        background-size:cover;
        justify-content: stretch;
    }
    .books{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Games{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Made{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
